ul {
    display: flex;
    flex-wrap: wrap;
    li {
        width: 33.33333%;
        box-sizing: border-box;
    }
}
input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0 10px;
}
::placeholder {
    color: #00aaee;
}